
:root{
    --backgroudColor: #E6FAFC;
    --blue1: #3A7CA5;
    --extras: #F4E04D;
    --blue2:#16425B;
    
    --primaryFont:'Open Sans', sans-serif;
    --secondaryFont: 'Staatliches', cursive;
}


html{
    box-sizing: border-box;
    font-size: 62.5%; /*10px = 1rem*/
}
body{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--primaryFont);
    background-color: var(--backgroudColor);
}
*,*:before,*:after{
    box-sizing: inherit;
}

/* Headings*/

h1,h2,h3,h4{
    font-family: var(--primaryFont);
    margin: 1rem 0;
    line-height: 1.2;
}
h1{
    font-size: 6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3.6rem;
}

h4{
    font-size: 2.4rem;
}

/** Globales **/
a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.contenedor{
    max-width: 1200px;
    width:95%;
    margin: 0 auto;
}
hr{
    border: 1px solid var(--grisClaro);
}
/*header*/
.site-header{
    background-color: var(--blue2);
    padding: 5rem 0;
    margin: 0;

}

@media(min-width: 768px) {
    .barra-navegacion{
        display: flex;
        justify-content: space-between;
    }
}

.logo{
    display: flex;
    justify-content: center;
}

li{
    display: inline;
}


/** Menu principal **/ 

.menu-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .menu-principal{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: var(--backgroudColor);
    }
    .menu-principal .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu-principal li{
        margin-right: 2rem;
    }
    .menu-principal li:last-of-type{
        margin-right: 0;
    }
}

.menu-principal a{
    font-family: var(--secondaryFont);
    color: var(--blanco);
    font-size: 2.2rem;
    padding: .5rem 2rem;
    display: block;
}

@media(min-width: 768px) {
    .menu-principal a{
        font-size: 2.6rem;
        position: relative;
        z-index: 1;
    }
    /*ANIMACION*/
    .menu-principal a::before,
    .menu-principal a::after{
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: var(--extras);
        z-index: -1;
        transform: scaleX(0);
        transition: transform .6s;
    }
    .menu-principal a::before{
        top: 0;
        transform-origin: left;
    }
    .menu-principal a::after{
        top: 50%;
        transform-origin: right;
    }
    .menu-principal a:hover::before{
        transform: scaleX(1);
    }
    .menu-principal a:hover::after{
        transform: scaleX(1);
    }
}

 /*----------PROMOCIONES----------*/
 .cont-gen-prom{
    border-style: double;
    border-width: 10px;
    margin-top: 10px;
 }

 .cont-info-prom h1{
    font-size: 4.5rem;
    text-align: center;
}
.cont-info-prom h2{
    font-size: 3.5rem;
    text-align: center;
}
.cont-info-prom h3{
    font-size: 1.5rem;
    padding-left: 50px;
}
.contenedor-promociones{
    padding-top: 50px;
}

.contenedor-caja{
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.seccion-promocion{width: 25%; background-color: #16425B; margin: 20px;min-height: 40vh; border-radius: 10%;}

.nombre-promocion h3{
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.icono-prom{
    display: flex; flex-direction: row;
    border-style: solid;
    border-color: #FFFFFF;
    border-top: none;
    border-left: none;
    border-right: none;
}

.icono-prom img{
    width: 10%;
    height: 10%;
    padding-left: 10px;
}

.post img{width: 100%;}

.prom-descripcion{
    color: #FFFFFF;
    font-size: 20px;
    text-align:center;
}

.mas-informacion{
    text-align: center;
}

.mas-informacion a{
    color: #F4E04D;
    padding: 30px;
    font-size: 17px;
    font-weight: bold;
}

.ventana-prom{
    background: #3A7CA5;
    width: 30%;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position:absolute;
    left: 34%;
    top: 35%;
    display: none;
    position: fixed;
}

#cerrar-ventana{
    position:absolute;
    right: 5px;
    top: 1px;
}

.informacion-detalle{
    text-align: left;
}

.boton-reservar{
    background-color: #F4E04D;
    color: #3A7CA5;
}

/*----------LOGIN----------*/
.cont-gen-login{
    display: flex;
    justify-content: center;
}

.contenedor-login{
    display: flex;
    margin-top: 50px;
    border-style: double;
    width: 30%;
}

.logo-login{
    width: 35%;
    margin: 30px;
}
.logo-login img{
    width: 90%;
    margin: 20px;
}