<<<<<<< HEAD
:root{
    --backgroudColor: #E6FAFC;
    --blue1: #3A7CA5;
    --extras: #F4E04D;
    --blue2:#16425B;

    --primaryFont:'Open Sans', sans-serif;
    --secondaryFont: 'Staatliches', cursive;
}

body{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--primaryFont);
    background-color: var(--backgroudColor);
}

*,*:before,*:after{
    box-sizing: inherit;
}
#header{
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
@media(min-width: 768px) {
    .barra-navegacion{
        display: flex;
        justify-content: space-between;
    }
}
.site-header{
    background-color: var(--blue2);
    padding: 5rem 0;
    margin: 0;
}
.logo{
    display: flex;
    justify-content: center;
}

.myDIV{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--blue2);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media(min-width:768px){
    .menu-principal{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: var(--backgroudColor);
    }
    .menu-principal .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu-principal li{
        margin-right: 2rem;
    }
    .menu-principal li:last-of-type{
        margin-right: 0;
    }
}

.menu-principal a{
    font-family: var(--secondaryFont);
    color: var(--blanco);
    font-size: 2.2rem;
    padding: .5rem 2rem;
    display: block;
}

@media(min-width: 768px) {
    .menu-principal a{
        font-size: 2.6rem;
        position: relative;
        z-index: 1;
    }
    /*ANIMACION*/
    .menu-principal a::before,
    .menu-principal a::after{
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: var(--extras);
        z-index: -1;
        transform: scaleX(0);
        transition: transform .6s;
    }
    .menu-principal a::before{
        top: 0;
        transform-origin: left;
    }
    .menu-principal a::after{
        top: 50%;
        transform-origin: right;
    }
    .menu-principal a:hover::before{
        transform: scaleX(1);
    }
    .menu-principal a:hover::after{
        transform: scaleX(1);
    }
    /**/
}
.cuadro{
    margin-left: 350px;
    width: 50%;
    height: 350px;
    background-color:#E6FAFC ;
}
section.mainDashboard{
    background-color: #3A7CA5;
    float: left;
    width: 23%;
    color: #FFFF;
}
.botonLogout{
    color: #E6FAFC;
}
.botonLogout:hover{
    color: #1883ba;
    background-color:#F4E04D;
  }

.boton{
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    background-color: #3A7CA5;
    border-radius: 25px;  
  }
  .boton:hover{
    color: #1883ba;
    background-color: #fff;
  }
.lista{
    list-style-type: none;
    padding-left: 5px;   
}
.Tittle{
    background-color: #16425B;
    height: 150px;
    color: #FFF;
    align-items: center;
}
.piePagina{
        background-color: #16425B;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65px;
        color: #FFF; 
}
.tabla{
    border: 1;
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -22px;

}

#id-saludo{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.th{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.1em;
    caption-side: bottom;
}
.td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.1em;
    caption-side: bottom;
}
.botonUsuarios{
    text-decoration: none;
    padding: 15px;
    margin-left: 320px;
    color: #ffffff;
    background-color: #3A7CA5;
    border-radius: 200px;   
}
.botonUsuarios:hover{
color: #1883ba;
background-color: #fff;
}
.buscar{
    text-align: center;
    padding-bottom: 10px;
    background-color: #E6FAFC;
}
#id-usuarios{
    background-color: #1883ba;
    padding-bottom: 5px;
    padding-right: 200px;
    width: 650px;
    margin-top: 10px;
    color: white;
}
.btnDelete{
    background-color: red;

}
.btnModif{
    background-color: #F4E04D;
}
=======
:root{
    --backgroudColor: #E6FAFC;
    --blue1: #3A7CA5;
    --extras: #F4E04D;
    --blue2:#16425B;

    --primaryFont:'Open Sans', sans-serif;
    --secondaryFont: 'Staatliches', cursive;
}

body{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--primaryFont);
    background-color: var(--backgroudColor);
}

*,*:before,*:after{
    box-sizing: inherit;
}
#header{
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
@media(min-width: 768px) {
    .barra-navegacion{
        display: flex;
        justify-content: space-between;
    }
}
.site-header{
    background-color: var(--blue2);
    padding: 5rem 0;
    margin: 0;
}
.logo{
    display: flex;
    justify-content: center;
}

.myDIV{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--blue2);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media(min-width:768px){
    .menu-principal{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: var(--backgroudColor);
    }
    .menu-principal .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu-principal li{
        margin-right: 2rem;
    }
    .menu-principal li:last-of-type{
        margin-right: 0;
    }
}

.menu-principal a{
    font-family: var(--secondaryFont);
    color: var(--blanco);
    font-size: 2.2rem;
    padding: .5rem 2rem;
    display: block;
}

@media(min-width: 768px) {
    .menu-principal a{
        font-size: 2.6rem;
        position: relative;
        z-index: 1;
    }
    /*ANIMACION*/
    .menu-principal a::before,
    .menu-principal a::after{
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: var(--extras);
        z-index: -1;
        transform: scaleX(0);
        transition: transform .6s;
    }
    .menu-principal a::before{
        top: 0;
        transform-origin: left;
    }
    .menu-principal a::after{
        top: 50%;
        transform-origin: right;
    }
    .menu-principal a:hover::before{
        transform: scaleX(1);
    }
    .menu-principal a:hover::after{
        transform: scaleX(1);
    }
    /**/
}
.cuadro{
    margin-left: 350px;
    width: 50%;
    height: 350px;
    background-color:#E6FAFC ;
}
section.mainDashboard{
    background-color: #3A7CA5;
    float: left;
    width: 23%;
    color: #FFFF;
}
.botonLogout{
    color: #E6FAFC;
}
.botonLogout:hover{
    color: #1883ba;
    background-color:#F4E04D;
  }

.boton{
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    background-color: #3A7CA5;
    border-radius: 25px;  
  }
  .boton:hover{
    color: #1883ba;
    background-color: #fff;
  }
.lista{
    list-style-type: none;
    padding-left: 5px;   
}
.Tittle{
    background-color: #16425B;
    height: 150px;
    color: #FFF;
    align-items: center;
}
.piePagina{
        background-color: #16425B;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65px;
        color: #FFF; 
}
.tabla{
    border: 1;
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -22px;

}

#id-saludo{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.th{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.1em;
    caption-side: bottom;
}
.td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.1em;
    caption-side: bottom;
}
.botonUsuarios{
    text-decoration: none;
    padding: 15px;
    margin-left: 320px;
    color: #ffffff;
    background-color: #3A7CA5;
    border-radius: 200px;   
}
.botonUsuarios:hover{
color: #1883ba;
background-color: #fff;
}
.buscar{
    text-align: center;
    padding-bottom: 10px;
    background-color: #E6FAFC;
}
#id-usuarios{
    background-color: #1883ba;
    padding-bottom: 5px;
    padding-right: 200px;
    width: 650px;
    margin-top: 10px;
    color: white;
}
.btnDelete{
    background-color: red;

}
.btnModif{
    background-color: #F4E04D;
}
>>>>>>> c7fff8db10dec9b2bd9f5b6f0ae86fb06eae78bd
