<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/slicknav.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>Promociones</title>
</head>
<body>
    <header class="site-header">
        <div class="contenedor">
            <div class="barra-navegacion">
                <div class="logo">
                    <img src="../img/che.png" alt="logo ">
                </div>

                <ul id="myDIV" class="menu-principal">
                    <li><a  href="promociones.html">Promociones</a></li>
                    <li><a  href="habitaciones.html">Habitaciones</a></li>
                    <li><a  href="nosotros.html">Nosotros</a></li>
                    <li><a  href="aviso.html">Aviso Privacidad</a></li>
                    <li><a  href="cuenta-admin.html">Buscar</a></li>
                  </ul>
            </div>
        </div>
    </header>
    
    <section class="cont-gen-prom">
        <!--<VENTANAS DE INFORMACION>-->
        <div class="ventana-prom" id="vent-prom">
            <div id="cerrar-ventana"> <a href="javascript: cerrarVentana()"><img src="../img/cerrarVentana.png" alt=""></a></div>
            DETALLE PROMOCIONES
            <div class="informacion-detalle">
                <p>Codigo: 01</p>
                <p>Costo: $1200.00</p>
                <p>Habitacion: Sencilla</p>
                <p>Servicios: Cada habitación cuenta con dos camas matrimoniales o una cama King Size, baño estilo romano y un ambiente tranquilo de descanso </p>
            </div>
            <div>
                <form action="login.html">
                    <input class="boton-reservar" type="submit" value="Reservar" />
                </form>
            </div>
        </div>

        <div class="ventana-prom" id="vent-prom-2">
            <div id="cerrar-ventana"> <a href="javascript: cerrarVentana2()"><img src="../img/cerrarVentana.png" alt=""></a></div>
            DETALLE PROMOCIONES
            <div class="informacion-detalle">
                <p>Codigo: 01</p>
                <p>Costo: $1800.00</p>
                <p>Habitacion: Doble</p>
                <p>Servicios: Cuentan con 2 camas matrimoniales ó una cama King size, algunas intercomunicadas (a solicitud), amplias, frescas y confortables.</p>
            </div>
            <div>
                <form action="login.html">
                    <input class="boton-reservar" type="submit" value="Reservar" />
                </form>
            </div>
        </div>

        <div class="ventana-prom" id="vent-prom-3">
            <div id="cerrar-ventana"> <a href="javascript: cerrarVentana3()"><img src="../img/cerrarVentana.png" alt=""></a></div>
            DETALLE PROMOCIONES
            <div class="informacion-detalle">
                <p>Codigo: 03</p>
                <p>Costo: $2000.00</p>
                <p>Habitacion: Junior Suites</p>
                <p>Servicios: Cuenta cama King Size y amplia terraza, un espacio ideal para disfrutar una romántica estancia. </p>
            </div>
            <div>
                <form action="login.html">
                    <input class="boton-reservar" type="submit" value="Reservar" />
                </form>
            </div>
        </div>

        <div class="ventana-prom" id="vent-prom-4">
            <div id="cerrar-ventana"> <a href="javascript: cerrarVentana4()"><img src="../img/cerrarVentana.png" alt=""></a></div>
            DETALLE PROMOCIONES
            <div class="informacion-detalle">
                <p>Codigo: 02</p>
                <p>Costo: $4000.00</p>
                <p>Habitacion: Master Suites</p>
                <p>Servicios: Cuentan con terraza, dormitorio independiente, sala de estar, sofá cama y una cama King Size. Un espacio amplio ideal para unas vacaciones familiares. </p>
            </div>
            <div>
                <form action="login.html">
                    <input class="boton-reservar" type="submit" value="Reservar" />
                </form>
            </div>
        </div>

        <div class="ventana-prom" id="vent-prom-5">
            <div id="cerrar-ventana"> <a href="javascript: cerrarVentana5()"><img src="../img/cerrarVentana.png" alt=""></a></div>
            DETALLE PROMOCIONES
            <div class="informacion-detalle">
                <p>Codigo: 01</p>
                <p>Costo: $1700.00</p>
                <p>Habitacion: Sencilla</p>
                <p>Servicios: Botella de vino tinto de cortesia, desayunos incluidos </p>
            </div>
            <div>
                <form action="login.html">
                    <input class="boton-reservar" type="submit" value="Reservar" />
                </form>
            </div>
        </div>

        <div class="ventana-prom" id="vent-prom-6">
            <div id="cerrar-ventana"> <a href="javascript: cerrarVentana6()"><img src="../img/cerrarVentana.png" alt=""></a></div>
            DETALLE PROMOCIONES
            <div class="informacion-detalle">
                <p>Codigo: 01</p>
                <p>Costo: $1200.00</p>
                <p>Habitacion: Sencilla</p>
                <p>Servicios: Todo incluido, niños menores de 12 años no pagan </p>
            </div>
            <div>
                <form action="login.html">
                    <input class="boton-reservar" type="submit" value="Reservar" />
                </form>
            </div>
        </div>
        <!--<TERMINA CODIGO VENTANAS>-->

        <div class="cont-info-prom">
            <h1>PROMOCIONES DE TEMPORADA</h1><br><br>
            <h2>TUS VACACIONES DE VERANO</h2><br><br>
            <h3>Hotel ElChé tiene promociones inigualables para ti.</h3>
            <h3>Date un break de la ciudad y escápate!</h3>
            <h3>Queremos que estes con nosotros y por ello tenemos estas promociones para que empaques tus maletas y viajes.</h3>
            <h3>Recuerda que en todos los Hoteles Krystal® contamos con el programa de certificación sanitaria STAY SAFE&CLEAN, para que tú y tu familia se sientan tranquilos durante su estancia.</h3>
            
             
        </div>
            <section class="contenedor-promociones">
    
                    <div class="contenedor-caja">
                        <div class="seccion-promocion">
                            <div class="nombre-promocion">
                                <h3>Paquete Romántico</h3>
                            </div>
                            <div class="post">
                                <img src="../img/Habitacion1.jpg">
                            </div>
                            <div class="icono-prom">
                                <img src="../img/Taxi.png">
                                <!--<img src="../img/wifi.png">-->
                                <img src="../img/Location.png">
                            </div>
                            <div class="prom-descripcion"><p>¡Todo incluido!</p></div>
                            <div class="mas-informacion">
                                <a href="javascript: abrirVentana()">Mas Informacion</a>
                            </div>
                        </div>
                        <div class="seccion-promocion">
                            <div class="nombre-promocion">
                                <h3>20% de descuento</h3>
                            </div>
                            <div class="post">
                                <img src="../img/Habitacion2.jpg">
                            </div>
                            <div class="icono-prom">
                                <img src="../img/Taxi.png">
                                <!--<img src="../img/wifi.png">-->
                                <img src="../img/Location.png">
                            </div>
                            <div class="prom-descripcion"><p>¡Todo incluido!</p></div>
                            <div class="mas-informacion">
                                <a href="javascript: abrirVentana2()">Mas Informacion</a>
                            </div>
                        </div>
                        <div class="seccion-promocion">
                            <div class="nombre-promocion">
                                <h3>30% de descuento</h3>
                            </div>
                            <div class="post">
                                <img src="../img/JuniorSuite.jpg">
                            </div>
                            <div class="icono-prom">
                                <img src="../img/Taxi.png">
                                <!--<img src="../img/wifi.png">-->
                                <img src="../img/Location.png">
                            </div>
                            <div class="prom-descripcion"><p>¡Todo incluido!</p></div>
                            <div class="mas-informacion">
                                <a href="javascript: abrirVentana3()">Mas Informacion</a>
                            </div>
                        </div>
                    </div>
            </section>
    
            <section class="contenedor-promociones">
    
                <div class="contenedor-caja">
                    <div class="seccion-promocion">
                        <div class="nombre-promocion">
                            <h3>10% de descuento</h3>
                        </div>
                        <div class="post">
                            <img src="../img/MasterSuite.jpg">
                        </div>
                        <div class="icono-prom">
                            <img src="../img/Taxi.png">
                            <!--<img src="../img/wifi.png">-->
                            <img src="../img/Location.png">
                        </div>
                        <div class="prom-descripcion"><p>¡Todo incluido!</p></div>
                        <div class="mas-informacion">
                            <a href="javascript: abrirVentana4()">Mas Informacion</a>
                        </div>
                    </div>
                    <div class="seccion-promocion">
                        <div class="nombre-promocion">
                            <h3>Paquete 2</h3>
                        </div>
                        <div class="post">
                            <img src="../img/1.jpg">
                        </div>
                        <div class="icono-prom">
                            <img src="../img/Taxi.png">
                            <!--<img src="../img/wifi.png">-->
                            <img src="../img/Location.png">
                        </div>
                        <div class="prom-descripcion"><p>¡Todo incluido!</p></div>
                        <div class="mas-informacion">
                            <a href="javascript: abrirVentana5()">Mas Informacion</a>
                        </div>
                    </div>
                    <div class="seccion-promocion">
                        <div class="nombre-promocion">
                            <h3>Paquete 3</h3>
                        </div>
                        <div class="post">
                            <img src="../img/1.jpg">
                        </div>
                        <div class="icono-prom">
                            <img src="../img/Taxi.png">
                            <!--<img src="../img/wifi.png">-->
                            <img src="../img/Location.png">
                        </div>
                        <div class="prom-descripcion"><p>¡Todo incluido!</p></div>
                        <div class="mas-informacion">
                            <a href="javascript: abrirVentana6()">Mas Informacion</a>
                        </div>
                    </div>
                </div>
        </section>
    </section>

    <footer>
        
        <h1 class="title">Redes Sociales</h1>
        <div class="container">
            <ul class="social-icons">
                <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://aboutme.google.com/u/0/"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div>
        </footer>

    <script>
        function abrirVentana(){
            document.getElementById("vent-prom").style.display ="block";
        }
        function abrirVentana2(){
            document.getElementById("vent-prom-2").style.display ="block";
        }
        function abrirVentana3(){
            document.getElementById("vent-prom-3").style.display ="block";
        }
        function abrirVentana4(){
            document.getElementById("vent-prom-4").style.display ="block";
        }
        function abrirVentana5(){
            document.getElementById("vent-prom-5").style.display ="block";
        }
        function abrirVentana6(){
            document.getElementById("vent-prom-6").style.display ="block";
        }
        

        function cerrarVentana(){
            document.getElementById("vent-prom").style.display ="none";
        }
        function cerrarVentana2(){
            document.getElementById("vent-prom-2").style.display ="none";
        }
        function cerrarVentana3(){
            document.getElementById("vent-prom-3").style.display ="none";
        }
        function cerrarVentana4(){
            document.getElementById("vent-prom-4").style.display ="none";
        }
        function cerrarVentana5(){
            document.getElementById("vent-prom-5").style.display ="none";
        }
        function cerrarVentana6(){
            document.getElementById("vent-prom-6").style.display ="none";
        }
        
    </script>
    
</body>
</html>
